<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
    <body>
        <h2>Пользователи</h2>
        <th:block th:each="us : ${users}">
            <th:block th:text="${us.getName()}"></th:block>
            <th:block th:text="${us.getSurname()}"></th:block>
            <th:block th:text="${us.getMail()}"></th:block>
            <th:block th:text="${us.getAge()}"></th:block>
            <input th:action="@{/deleteUser}" th:method="post" type="submit" th:value="${us.getId()}" value="Удалить"/>
            <br>

        </th:block>
    </body>
</html>